<!-- /templates/customers/login.liquid -->
<div class="container py-5 my-5">
    <div class="login-form">
        {% form 'customer_login' %}
            {% include 'form-error', form: form %}
            <h1 class="h3">Customer Login</h1>
            <label for="emailAddress">Email Address</label>
            <input type="email" name="customer[email]" class="form-control rounded-0 my-2">
            <label for="password">Password</label>
            <input type="password" name="customer[password]" class="form-control rounded-0 my-2">
            <input type="submit" value="Sign in" class="btn btn-primary btn-lg w-100 rounded-0">
        {% endform %}
    </div>

</div>



{% comment %}
<h2>Login</h2>
{% form 'customer_login' %}

{{ form.errors | default_errors }}

<label for="customer_email">Email Address</label>
<input type="email" name="customer[email]" />

<label for="customer_password">Password</label>
<input type="password" name="customer[password]" />

<input type="submit" value="Sign In" />

{% endform %}

<h2>Forgot Password</h2>
{% form 'recover_customer_password' %}

{{ form.errors | default_errors }}

<label for="customer_email">Email Address</label>
<input type="email" name="email" />

<input type="submit" value="Submit" />

{% endform %}
{% endcomment %}